node_modules/
.env
.env.*
.DS_Store

*.docx
*.txt
*.ps1

*.md

/*.js
old_backups/

*.zip

ecostride_chat/

ARCHITECTURE.md

*.apk
*.jks
*.keystore
keystore.properties
.dev.vars
google-services.json
*.py

.idea/
